# Dependencies
/node_modules/

# Build outputs
/dist/
/build/
/.next/
/out/

# Env files
.env
.env.*
.supabase

# Supabase (optional)
supabase/.temp/
supabase/.branches/
supabase/.migrations/

# OS files (mac/windows)
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor junk
.vscode/
.idea/
*.swp
